@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Qwitcher+Grypen:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #333;
    padding: 10px 5px;
}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 12px;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    text-decoration: none;
}

.navbar a.logo {
    font-size: 25px;
    font-weight: bold;
}

.navbar a:hover {
    background-color: #0000003e;
    color: #f1f1f1;
}

.navbar a.active {
    background-color: #7e22ce;
    color: #ffffff;
}

.navbar-right {
    float: right;
}

/* @media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
} */