@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Qwitcher+Grypen:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0f172a;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 99;
}

.nav__content {
    max-width: 1200px;
    margin: auto;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo .nav__links {
    font-family: "Dela Gothic One", cursive;
    font-size: 1.5rem;
    font-weight: 400;
    color: #a855f7;
    transition: 0.3s;
}

nav .logo .nav__links:hover {
    color: #c4b5fd;
    font-size: 1.7rem;
}

nav .checkbox {
    display: none;
}

nav input {
    display: none;
}

nav .checkbox i {
    font-size: 2rem;
    color: #a855f7;
    cursor: pointer;
}

ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
}

ul li .nav__links {
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    color: #9333ea;
    transition: 0.3s;
}

ul li .nav__links:hover {
    color: #c4b5fd;
    font-size: 1.3rem;
}

.section {
    background-color: #0f172a;
}

.section__container {
    border: red 1px solid;
    min-height: 100vh;
    max-width: 1200px;
    margin: auto;
    padding-top: 90px;
    padding-bottom: 20px;
    padding-left: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.about__section__container {
    border: red 1px solid;
    min-height: 100vh;
    max-width: 1200px;
    margin: auto;
    padding-top: 90px;
    padding-bottom: 20px;
    padding-left: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.content {
    border: red 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about__content {
    border: red 1px solid;
    display: flex;
    flex-direction: column;
}

.subtitle {
    font-size: 2rem;
    letter-spacing: 2px;
    color: #e9d5ff;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
    color: #9333ea;
    margin-bottom: 1rem;
}

.title span {
    font-size: 2.5rem;
    font-family: "Dela Gothic One", cursive;
    color: #9333ea;
    font-weight: 600;
}

.title span:hover {
    color: #c4b5fd;
    cursor: pointer;
    text-shadow: 1px 1px 2px #000;
}

.description {
    line-height: 1.5rem;
    color: #e9d5ff;
    margin-bottom: 2rem;
}

.image {
    display: grid;
    place-items: center;
}

.image img {
    border-radius: 50%;
    width: min(25rem, 100%);
}

.icon-bar .socials {
    font-size: 2rem;
    color: #a855f7;
    margin: 0 0.5rem;
    transition: 0.3s;
}

.icon-bar .socials:hover {
    color: #c4b5fd;
    transform: scale(1.2);
}

/* About page */

.about__image {
    display: grid;
    place-items: center;
}

.content__title {
    text-align: center;
    text-align: center;       
    font-size: 5rem;          
    color: #9333ea;         
    font-weight: bold;       
    margin-bottom: 2rem;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    font-family: sans-serif;
}

.tabs__label {
    padding: 10px 16px;
    cursor: pointer;
}

.tabs__radio {
    display: none;
}

.tabs__content {
    margin-top: 20px;
    order: 1;
    width: 100%;
    color: #e9d5ff;
    line-height: 1.5;
    font-size: 0.9em;
    display: none;
}

.tabs__radio:checked+.tabs__label {
    font-weight: bold;
    color: #a855f7;
    border-bottom: 2px solid #a855f7;
}

.tabs__radio:checked+.tabs__label+.tabs__content {
    display: initial;
}

@media (max-width: 750px) {
    nav .checkbox {
        display: block;
    }

    ul {
        position: absolute;
        width: 100%;
        height: calc(100vh - 85px);
        left: -100%;
        top: 85px;
        background-color: #0f172a;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
        transition: left 0.3s ease-in-out;
    }

    nav #check:checked~ul {
        left: 0;
    }

    ul li .nav__links {
        font-size: 1.25rem;
    }

    .section__container {
        padding: 10rem 1rem 5rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }

    .image {
        grid-area: 1/1/2/2;
    }
}