@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Qwitcher+Grypen:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-weight: 600;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #000;
    color: #f1f1f1;
}

.navbar a.split {
    float: right;
    background-color: #7e22ce;
    color: #f1f1f1;
}